# Ignore node_modules - they are installed inside the container
node_modules
npm-debug.log
yarn-error.log
*.env

# Ignore Next.js build output
!.next
out

# Ignore log files and directories
*.log
logs
*.log.*
*.swp

# Ignore .git directory
.git
.gitignore

# Ignore Dockerfile and .dockerignore themselves
Dockerfile
.dockerignore

# Ignore editor directories and config files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore local environment files
.env.local
.env.development
.env.test
.env.production

# Ignore misc files
.DS_Store
Thumbs.db
