.vscode
.mypy_cache
*.txt
*.code-workspace
.s3cfg
volumes
.docker
originals
.DS_Store
node_modules/
frontend_ori/
frontend_2/
originals/
data/
models/
.env
.env.prod
indic-translator/
docker-compose.yml
READ-dont.md
